@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Mono:wght@400;500&family=DM+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

.body {
    background-color: #F2EFEA !important;
    color: #31263E !important;
    font-family: Baskerville !important;
}

.header {
    background-color: #31263E !important;
    color: #AAACB0 !important;
}

.icon {
    max-width:20px !important;
    height:auto !important;
}

.button {
    border-width: 3px;
}

.home {
    background-image: url('./images/tempHomeCover.jpg') !important;
    background-size: cover !important;
    height: 1000px !important;
}

